# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/service-controller
/site-controller
/skupper
/get
/config-sync

# Test binary, built with `go test -c`
*.test
/test/**/bin/
/test/**/tmp

# Generated code
/swagger
/client/generated/libpod/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
