#!/usr/bin/env sh

set -o errexit
set -o nounset

for container in $({{.ContainerEngine}} container ls --filter label=application=skupper --filter label=skupper.io/site-id={{.SiteId}} --format {{"{{"}}.Names{{"}}"}} --all); do
    {{.ContainerEngine}} start ${container}
done

