[Unit]
Description=skupper-{{.Namespace}}.service
Wants=network-online.target
After=network-online.target
RequiresMountsFor={{.RuntimeDir}}/containers

[Service]
TimeoutStopSec=70
RemainAfterExit=yes
ExecStart=/bin/bash {{.SiteScriptPath}}/start.sh
ExecStop=/bin/bash {{.SiteScriptPath}}/stop.sh
Type=simple

[Install]
WantedBy=default.target
